body{
  margin: 0;
}

header {
display: block;
  margin: 0;
  padding-bottom: 1px;
}

header>h2{
  background-color: beige;
  font-size: 125%;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0px;


}

header > h1 {
  background-image:url(img/background.jpg);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}


.class-main{
background-color: grey;

}

form{
  display: inline-block;
  width: 20%;
}

form>textarea{
  width: 90%
}

.cat-photo{
  width:30%;
}

.cat-photo > img {
  width: 100%;
}

footer{
  background-color: beige;
}
footer>h2{
  margin-top: 0;
}
footer > div {
}

.cat-logo{
  width: 20%;
}

.cat-logo > img{
  width:100%;
  background-color: blue;
}
